# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dotnet
moduloA/bin/
moduloA/obj/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*_pb2*.py

# React + Vite
dist/
.vite/
*.svg
.DS_Store
moduloP/package-lock.json
moduloP/webClient/package-lock.json

# IDEs e editores
.vscode/
.idea/
*.swp