# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*_pb2*.py

# Protobuf stubs (opcional: manter se preferir não gerar toda vez)
# moduloA/estoque_pb2*.py
# moduloB/pagamento_pb2*.py

# React + Vite
dist/
.vite/
*.svg
.DS_Store

# IDEs e editores
.vscode/
.idea/
*.swp